*{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
	font-size: 40px; 
	text-align: center; 
}

button {
	width: 100px;
	height: 40px; 
	margin: 10px;
}
div.row {
	display: block;
	margin-left: 500px;
}
 a { 
 	text-decoration: none; 
 }

img {
	width: 150px;
	height: 100px;

 }


 table {
 	border-spacing: 10px;
 	border-bottom: 2px solid grey;
 } 

 .graph {
 	width: 500px;
 	height: 350px;
 }

 #trends {
    display: inline-block;
 }
 
/*** MENU BAR STYLING ***/
#menu {
	height: 80px;
	width: 100%;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    height: 35px;
    overflow: hidden;
    background-color: #333;
}

#title-cell {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	height: 35px;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 0px;
	font-size: 35px;
	display: table;
	width: 93%;
}

#home-logo {
	float: left;
	height: 88px;
	width: 90px;
}

#navbutton, li.dropdown {
    float: left;
    border-right: 1px solid #bbb;
}

#navbutton a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #18619F;
}

li.dropdown {
    display: inline-block;
}

.active {
    background-color: #0182B6;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a.dem:hover {background-color: #35A5C7;}

.dropdown-content a.rep:hover {background-color: #CC3631;}

.dropdown-content a.cruz:hover {background-image: url("cruzpitsofhell.jpg");}

.dropdown:hover .dropdown-content {
    display: block;
}

body, html {
   border: 0;
   padding: 0;
   margin: 0;
}
/*** END MENU BAR STYLING ***/