*{
	font-family: "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

h1 {
	font-size: 40px; 
	text-align: center; 
}

button {
	width: 200px;
	height: 80px; 
	margin: 10px;
}
div.row {
	display: block;
	margin-left: 26%;
}
 a { 
 	text-decoration: none; 
    font-size: 20px;
 }

.trending_candidate {
	width: 205px;
	height: 130px;
    margin: 10px;
 }
 
.trending_arrow{
	width: 50px;
	height: 75px;
    margin: 15px 10px 25px 25px;
 }

 .candidate_name {
 }

 #falling {
 }
 
 .candidate_small{
	width: 150px;
	height: 100px;
 }

 table {
    background-color:lightgrey;
    border-radius: 25px;
 	border-spacing: 10px;
 	border-bottom: 2px solid grey;
    margin: 50px;
 } 

 .graph {
 	width: 500px;
 	height: 350px;
    margin-left: 30px;
    margin-right: 0px;
    padding: 10px;
 /*   background-color: gray;*/
 }

 .legend {
    width: 245px;
    height: 125px;
    padding: 132px 20px 113px 0px;
    /*background-color: gray;*/
 }

 #trends {
/*    background-color: lightgrey;*/
    display: inline-block;
/*    border-radius: 25px;*/
    float: right;
    margin-right: 60px;
    margin-bottom: 10px;
        }
 #group1 {
    background-color: lightgrey;
    border-radius: 25px;

 }

.trend_content {
    display: inline-block;
}

 #Trending{
    
    margin-right: 30px;
    margin-left: 30px;
  /*  background-color: lightgrey;*/
/*    border-radius: 25px;*/
  }

  #Recent {
    background-color: lightgrey;
    display: block;
    margin-left: 28%;
  }
  
  #bottom {
        background-color: lightgrey;
            border-radius: 25px;
            margin: 30px;
  }
  #graph_title{
	font-weight: bold;
    margin-left: 30px;
  }

.twitter-timeline {
    margin-left: 30px;
    margin-bottom: 30px;
}
 
/*.vr {
    display: inline-block;
    margin-left: 10px;
    height: 370px;
    border-left: thick solid #7F7F7F;*/
}

/*.hr {
    width: 90%;
    margin-left: 40px;
    margin-top: 20px;
    border-top: thick solid #7F7F7F;*/
}

 body, html {
/*   border: 0;
   padding: 0;
   margin: -10px;*/
   background-color: #f1f1f1;
}
 
/********* MENU BAR STYLING *********/
#menu {
	height: 100px;
	background-color: #333;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
   /* margin-bottom: 20px;*/
    padding: 0;
    height: 35px;
    overflow: hidden;
    background-color: #333;
}

#title-cell {
	/*margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;*/
	margin-left: 34%;
	height: 35px;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 0px;
	font-size: 35px;
}

#home-logo {
	float: left;
	height: 100px;
	width: 98px;
}

#navbutton, li.dropdown {
    float: left;
    border-right: 1px solid #bbb;
}

#navbutton a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #18619F;
}

li.dropdown {
    display: inline-block;
}

.active {
    background-color: #0182B6;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a.dem:hover {background-color: #35A5C7;}

.dropdown-content a.rep:hover {background-color: #CC3631;}

.dropdown-content a.cruz:hover {background-image: url("cruzpitsofhell.jpg");}

.dropdown:hover .dropdown-content {
    display: block;
}
/******* END MENU BAR STYLING *********/
